# sbt
target/
project/target/
project/project/
*.jar
!lib/*.jar

# Bloop / BSP
.bloop/
.bsp/

# IDE / editors
.idea/
.vscode/
*.iml
.metals/
project/metals.sbt

# OS
.DS_Store
Thumbs.db

# Env / secrets
*.env
credentials.env
.env
.env.*

# Logs
*.log

# Scala
*.class
*.log

artifactory-test
compose.yaml